/var/
/vendor/
/bin/.phpunit
/bin/phpunit

/composer.lock
/symfony.lock
/.idea/

/phpunit.xml
/.phpunit.result.cache

/infection.log

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
